<nav>
    <div class="main-container">
        <div class="nav-list">
            <div class="collapsed-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="collapsed">
                <span class="closed">x</span>
                <li><a class="active" href="#0">Home</a></li>
                <li><a href="#1">Page1</a></li>
                <li><a href="#2">Page2</a></li>
                <li><a href="#3">Page3</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</nav>