<div class="entry-form">
    <div class="entry-container">

        <div class="input-form">
            <input id="email" type="email" name="email" required autocomplete="email" autofocus>
            <label for="email">E-Mail Address</label>
        </div>

        <div class="input-form">
            <input id="password" type="password" name="password" required autocomplete="current-password">
            <label for="password">Password</label>
            <div class="err"></div>
        </div>

    </div>
</div>