<div class="main-container">
    <div class="slider">
        <div class="slider-btn right"> > </div>
        <div class="slide active">
            <div class="overlay"></div>
            <div class="txt">This is the first silde</div>
            <div class="img" style="background-image: url('1.jpg');"></div>
        </div>
        <div class="slide">
            <div class="overlay"></div>
            <div class="txt">This is the first silde</div>
            <div class="img" style="background-image: url('1.png');"></div>
        </div>
        <div class="slide">
            <div class="overlay"></div>
            <div class="txt">This is the first silde</div>
            <div class="img" style="background-image: url('1.jpg');"></div>
        </div>
        <div class="slide">
            <div class="overlay"></div>
            <div class="txt">This is the first silde</div>
            <div class="img" style="background-image: url('1.png');"></div>
        </div>
        <div class="slider-btn left"></div>
        <div class="dots"></div>
    </div>
</div>