.notifier{
    position: fixed;
    right: 0px;
    top: 20px;
    box-shadow: 0 0 10px #ddd;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 300px;
    max-height: 100px;
    transition: ease-in-out .5s;
    opacity: 0;
    z-index:9999999;
}